@import url(https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import "../libs/magnific-popup/dist/magnific-popup.css";
@import "../libs/owl.carousel/dist/assets/owl.carousel.min.css";
@import "../libs/owl.carousel/dist/assets/owl.theme.default.min.css";
@import "../libs/slick-carousel/slick/slick.css";
@import "../libs/animate/animate.min.css";

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.eot');
    src: local('Open Sans Regular'), local('OpenSans-Regular'),
    url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-Regular.woff') format('woff'),
    url('../fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/PTSans-Regular.eot');
    src: local('PT Sans'), local('PTSans-Regular'),
    url('../fonts/PTSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PTSans-Regular.woff') format('woff'),
    url('../fonts/PTSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Book Alt';
    src: url('../fonts/Intro-Book-Alt.eot');
    src: local('Intro Book Alt'), local('Intro-Book-Alt'),
    url('../fonts/Intro-Book-Alt.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Intro-Book-Alt.woff') format('woff'),
    url('../fonts/Intro-Book-Alt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro';
    src: url('../fonts/Intro-Regular.eot');
    src: local('Intro Regular'), local('Intro-Regular'),
    url('../fonts/Intro-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Intro-Regular.woff') format('woff'),
    url('../fonts/Intro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Black';
    src: url('../fonts/Intro-Black.eot');
    src: local('Intro Black'), local('Intro-Black'),
    url('../fonts/Intro-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Intro-Black.woff') format('woff'),
    url('../fonts/Intro-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Bold';
    src: url('../fonts/Intro-Bold.eot');
    src: local('Intro Bold'), local('Intro-Bold-Italic'),
    url('../fonts/Intro-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Intro-Bold.woff') format('woff'),
    url('../fonts/Intro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Light';
    src: url('../fonts/Intro-Light.eot');
    src: local('Intro Light'), local('Intro-Light'),
    url('../fonts/Intro-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Intro-Light.woff') format('woff'),
    url('../fonts/Intro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Black Inline';
    src: url('../fonts/Intro-Black-Inline.eot');
    src: local('Intro Black Inline'), local('Intro-Black-Inline'),
    url('../fonts/Intro-Black-Inline.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Intro-Black-Inline.woff') format('woff'),
    url('../fonts/Intro-Black-Inline.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Intro';
    src: url('../fonts/Intro-Bold.eot');
    src: local('Intro Bold'), local('Intro-Bold'),
    url('../fonts/Intro-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Intro-Bold.woff') format('woff'),
    url('../fonts/Intro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Intro';
    src: url('../fonts/Intro-Black.eot');
    src: local('Intro Black'), local('Intro-Black'),
    url('../fonts/Intro-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Intro-Black.woff') format('woff'),
    url('../fonts/Intro-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}


@font-face {
    font-family: 'Intro Book';
    src: url('../fonts/Intro-Book.eot');
    src: local('Intro Book'), local('Intro-Book'),
    url('../fonts/Intro-Book.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Intro-Book.woff') format('woff'),
    url('../fonts/Intro-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro';
    src: url('../fonts/Intro-Thin.eot');
    src: local('Intro Thin'), local('Intro-Thin'),
    url('../fonts/Intro-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Intro-Thin.woff') format('woff'),
    url('../fonts/Intro-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}


* {
    box-sizing: border-box;
    outline: none;
}
form, a, input,label{
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
:after,
:before,
:hover {
    box-sizing: border-box;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

input:focus,
textarea:focus,
select:focus,
input,
textarea,
select {
    outline-offset: 0;
    outline: none;
}

:focus {
    outline: none;
}

html {
    font-size: 62.5%;
    margin-right: 0 !important;
}

body {
    font-size: 1.8rem;
    background: #fdfeff;
    color: #2e3745;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-weight: 400;
    font-family: 'Intro';
}

.ptsans {
    font-family: 'PT Sans';
}
.opensans{
    font-family: 'Open Sans';
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

.hidden, .desc-none {
    display: none !important;
}

.visible {
    display: block !important;
}

.flex {
    display: -webkit-flex !important;
    display: flex !important;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}
h2{
    position: relative;
    font-size: 4.8rem;
    font-family: "Intro Black";
    color: #323232;
}
h2:before{
    position: absolute;
    content: '';
    width: 14.5rem;
    height: 1.6rem;
    background: url(../images/header-fon.png) 0 0 no-repeat;
    top: -2.3rem;
    left: 0.3rem;
}
.white{
    color: #fff!important;
}
.gray{
    color: #ebebeb!important;
}
/*********************** INDEX ***************************/
header .container{
    justify-content: space-between;
    align-items: center;
}
.header__social{
    align-items: center;
}
.header__social>*{
    margin-right: 3.2rem;
}
.header__social>a:last-of-type{
    margin-right: 0;
}
.header__phone{
    text-align: right;
}
.header__phone a{
    display: block;
    color: #323232;
    font-size: 2.4rem;
    font-family: 'Intro Book';
}
.header__social a>img:hover{
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);

}
.header__phone span{
    display: block;
    color: #ef2203;
    font-size: 1.5rem;
    font-family: 'Intro Black';
    text-decoration: underline;
    cursor: pointer;
}
header{
    position: relative;
}
header nav{
    background-color: #003a11;
    padding: 1.2rem 0;
}
header nav .container{
    display: flex;
    justify-content: center;
}
header nav a{
    color: #fff;
    font-size: 2rem;
    font-family: 'Intro Bold';
}
header nav li{
    margin-right: 6rem;
}
header nav li.active a{
    color: #ef2203;
    text-decoration: underline;
}
.main{
    background: url(../images/main-bg.jpg)50% -6rem no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    padding-top: 8.5rem;
    padding-bottom: 50.5rem;
    position: relative;
}
.main.inner.corp{
    background: url(../images/corp-bg.jpg)50% -19rem no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    padding-top: 10.2rem;
    padding-bottom: 79.5rem;
    position: relative;
}
.main.inner.scool{
    background: url(../images/scool-bg.jpg)50% 0 no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    padding-top: 10.2rem;
    padding-bottom: 79.5rem;
    position: relative;
}
.main.inner.fort{
    background: url(../images/fort-main-bg.jpg)50% 0 no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    padding-top: 10.2rem;
    padding-bottom: 79.5rem;
    position: relative;
}
.main.inner.splav{
    background: url(../images/splav-bg.jpg)50% 0 no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    padding-top: 15.2rem;
    padding-bottom: 31.7rem;
    position: relative;
}
.breadcrumb{
    width: 100%;
    position: absolute;
    bottom: -7.2rem;
    left: 0;
    z-index: 1;
    text-align: center;
}
.B_homeCrumb,
.B_crumbBox{
    font-size: 1.4rem;
    color: #8c8c8c;
    font-family: 'Intro Book';
}
.B_currentCrumb{
    font-size: 1.4rem;
    font-family: 'Intro Book';
    color: #ef2203;
}
.main h1{
    font-size: 6.6rem;
    line-height: 7.2rem;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Intro Black';
}
.main.inner h1{
    font-size: 4.8rem;
    line-height: 5.4rem;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Intro Black';
}
.main.inner h1>span.sub{
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Intro Black';
    color: inherit;
    display: block;
}
.main h1>span.header-red{
    display: block;
    font-size: 6.3rem;
    text-transform: lowercase;
    color: transparent;
    background: linear-gradient(to top, #ee094f 0%, #ff6a00 100%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.main.inner h1>span.header-red{
    display: block;
    font-size: 3.6rem;
    text-transform: lowercase;
    color: transparent;
    background: linear-gradient(to top, #ee094f 0%, #ff6a00 100%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.subheader{
    text-align: center;
    font-size: 2.4rem;
    font-family: 'Intro Light';
    margin-top: 0.8rem;
}
.subheader>span{
    text-decoration: underline;
}
.down{
    position: relative;
    width: 6rem;
    height: 6rem;
    background-color: #323232;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin: 4.2rem  auto 0;
    cursor: pointer;
    box-shadow: 8px 11px 8px #666;
    animation: bounceIn 0.8s ease-in-out infinite;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}
.down:hover{
    -webkit-animation-play-state: running;
    animation-play-state: running;
}
@keyframes bounceIn {
    0%{
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
    50%{
        -webkit-transform: translateY(-20px);
        -moz-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        -o-transform: translateY(-20px);
        transform: translateY(-20px);
    }
    100%{
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
}
.down:before{
    position: absolute;
    content: '';
    width: 1.2rem ;
    height: 1.2rem;
    border-right:2px solid #fff;
    border-bottom:2px solid #fff;
    top: calc(50% - 0.6rem);
    left: calc(50% - 0.6rem);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.inner [class^="main__form-"]{
    bottom: 4.99rem;
}
[class^="main__form-"]{
    position: absolute;
    width: 102.8rem;
    height: 31rem;
    -webkit-border-radius: 3rem;
    -moz-border-radius: 3rem;
    border-radius: 3rem;
    background: linear-gradient(-45deg, rgba(0, 0, 0, 0) 49.9%, #000 49.9%, #000 60%, rgba(0, 0, 0, 0) 60%)
    fixed,
    linear-gradient(-45deg, #000 10%, rgba(0, 0, 0, 0) 10%)
    fixed;
    background-size: 0.3rem 0.3rem;
    padding: 0.85rem;
    box-shadow: 2px 4px 29px 0 rgba(0, 0, 0, 0.17);
    left: calc(50% - 102.8rem/2);
    bottom: -12rem;
}
[class^="main__form-"] form{
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    border-radius: 2rem;
    background-color: #fff;
    width: 100%;
    height: 100%;
    padding-top: 5.2rem;
}
.inputs{
    display: flex;
    justify-content: space-between;
    padding: 0 21.9rem;
    margin-top: 7rem;
}
.input-group{
    position: relative;
}
.input-group label{
    position: absolute;
    font-size: 1.4rem;
    color: #767676;
    font-family: 'Intro Light';
    left: 0;
    top: 0;
    z-index: 0;
}
[class^="main__form-"] form h3{
    text-align: center;
    font-size: 3.3rem;
    font-family: 'Intro Light';
    margin-top: 0.8rem;
    text-transform: uppercase;
}
[class^="main__form-"] form h3>span{
    display: block;
    font-family: 'Intro Bold';
}
[class^="main__form-"] form input{
    border:none;
    width: 17rem;
    border-bottom: 1px solid #000;
    height: 2rem;
    background-color: transparent;
}

[class^="main__form-"] form input:active + label,
[class^="main__form-"] form input:focus + label,
label.filled{
    color: #ef2203;
    font-size: 1rem;
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    transform: translateY(-20px);
}
.button{
    position: relative;
    border: none;
    font-size: 1.8rem;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Intro Light';
    background-image: linear-gradient(to bottom, #ee094f 0%, #ff6a00 100%);
    cursor: pointer;
    overflow: hidden;
}
.button:before{
    position: absolute;
    content: '';
    width: 4rem;
    height: 40rem;
    opacity: 0.6;
    background-color: #fff;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    left: -5rem;
    top: -10rem;
}
.button:hover:before{
    left: calc(100% + 10rem);
}
.button-main-form{
    width: 34.1rem;
    height: 6.3rem;
    position: absolute;
    -webkit-border-radius: 3.1rem;
    -moz-border-radius: 3.1rem;
    border-radius: 3.1rem;
    left: calc(50% - 17rem);
    bottom: -2.5rem;
}
.program{
    background: url(../images/star-bg.jpg) 0 0 no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    padding-top: 27.3rem;
    padding-bottom: 9rem;
}
.program-wpap{
    flex-wrap: wrap;
    margin-top: 11.2rem;
    justify-content: space-between;
}
.program-item{
    display: flex;
    flex-direction: column;
    width: calc(100%/3 - 1.5rem);
    margin-bottom: 4rem;
    position: relative;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.program-item:hover img{
    filter: saturate(200%);
    box-shadow: 7px -4px 27px 0 rgba(0, 0, 0, 0.43);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.program-item img{
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    border-radius: 1rem;
    box-shadow: 7px 14px 27px 0 rgba(0, 0, 0, 0.43);
    margin-bottom: 2rem;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.program-item a{
    font-size: 2.1rem;
    font-family: 'Intro Bold';
    color: #323232;
    text-decoration: underline;
}
.program-item a:hover{
    text-decoration: none;
    color: #000;

}
.buttons-wrap{
    margin: 0 auto;
    justify-content: center;
    margin-top: 3.8rem;
}
a.ico-button {
    color: #000;
    font-size: 1.5rem;
    font-family: 'Intro Light';
    text-decoration: none;
    text-transform: uppercase;
    height: 6.4rem;
    border: 0.3rem solid transparent;
    border-radius: 3.7rem;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 9rem;
}
a.ico-button:nth-child(1){
    width: 35.7rem;
    margin-right: 2.7rem;
    background: #fff url(../images/corp-ico.png) 33px 50% no-repeat;
}
a.ico-button:nth-child(2){
    width: 21.6rem;
    margin-right: 2.7rem;
    background: #fff url(../images/kids-ico.png) 33px 50% no-repeat;
}
a.ico-button:nth-child(3){
    width: 21.6rem;
    background: #fff url(../images/turist-ico.png) 33px 50% no-repeat;
}
a.ico-button:before {
    content: "";
    display: block;
    border-radius: 2.7rem;
    position: absolute;
    background: inherit;
    top: 0.3rem;
    left: 0.3rem;
    right: 0.3rem;
    bottom: 0.3rem;
    z-index: -1;
}
a.ico-button:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -2;
    transform: rotate(0deg);
    animation: gradient 2s ease alternate infinite;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}
a.ico-button:hover:after {
    -webkit-animation-play-state: running;
    animation-play-state: running;
}
a.ico-button:after {
    background: #fff;
    background: -moz-linear-gradient(left, #ff6a00 0%, #ee094f 100%);
    background: -webkit-linear-gradient(left, #ff6a00 0%, #ee094f 100%);
    background: linear-gradient(to right,  #ff6a00 0%, #ee094f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff6a00', endColorstr='#ee094f', GradientType=1);
    background-size: 300% 300%;
}

@-webkit-keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 95% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}
@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 95% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}
.slider{
    padding-bottom: 17.8rem;
}
.main-slider{
    margin-top: 15rem;
    position: relative;
}
.main-slider:before{
    position: absolute;
    content: '';
    width: 110.1rem;
    height: 48.5rem;
    border: 1px solid #cbcbcb;
    top: -7.6rem;
    left: 5rem;
    z-index: -1;
}
.main-slider:after{
    position: absolute;
    content: '';
    width: 13.5rem;
    height: 0.3rem;
    top: -7.7rem;
    left: calc(50% - 6.75rem);
    background-color: #ef2203;
}
.owl-nav{
    margin-top: 5.6rem;
    display: flex;
    justify-content: space-between;

}
.owl-prev{
    width: 6.1rem;
    height: 5.8rem;
    border: 3px solid #00791a!important;
    border-radius: 2.9rem  0 0 2.9rem!important;
    position: relative;
    background-color: #fff!important;
}
.owl-next{
    width: 6.1rem;
    height: 5.8rem;
    border: 3px solid #00791a!important;
    border-radius: 0 2.9rem 2.9rem 0!important;
    position: relative;
    background-color: #fff!important;
}
.owl-prev:hover,
.owl-next:hover{
    border: 3px solid #ef2203!important;
}
.owl-prev:before,
.owl-next:before{
    position: absolute;
    content: '';
    width: 1.5rem;
    height: 1.5rem;
    border-top:2px solid #000;
    border-left:2px solid #000;
    top: calc(50% - .7rem);
    left: calc(50% - .7rem);

}
.owl-prev:before{
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.owl-prev:hover:before{
    transform: rotate(-45deg) translateX(-5px) translateY(-5px);
}
.owl-next:hover:before{
    transform: rotate(135deg) translateX(-5px) translateY(-5px);
}
.owl-next:before{
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}
.slider-text{
    position: absolute;
    font-size: 1.8rem;
    font-family: 'Intro Light';
    left: calc(50% - 17.53rem);
    top: 51rem;
}
.rewievs{
    background: url(../images/otz-bg.jpg) 0 0 no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    padding-bottom: 11.5rem;
}
.rew-slider{
    margin-top: 4rem;
}
.rev-item{
    position: relative;
    display: flex;
    justify-content: center;
    padding: 10rem 0 5rem 0;
}
.rev-item img{
    max-width:20.8rem;
    position: absolute;
    top: 2rem;
    left: 13.7rem;
    padding: 0.6rem;
    border-radius: 1rem;
    background-color: #fff;
    box-shadow: 7px 14px 27px 0 rgba(0, 0, 0, 0.43);
}
.rew-text{
    max-width: 75.2rem;
    max-height: 42.6rem;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 7px 14px 27px 0 rgba(0, 0, 0, 0.43);
    padding: 5rem;
}
.rew-name{
    font-size: 2.4rem;
    font-family: "Intro Black";
    padding-left: 10rem;
    color: #000;
    line-height: 2.8rem;
    margin-bottom: 0.5rem;
}
.rew-place{
    padding-left: 10rem;
    font-size: 1.8rem;
    font-family: 'Intro Light';
    margin-bottom: 2.5rem;
}
.rew{
    color: #000;
    font-family: 'Intro Light';
    line-height: 2.3rem;
}
.rew-slider .owl-nav{
    justify-content: center;
    margin-top: 2.6rem;
}
.rew-slider .owl-prev,
.client-slider .owl-prev{
    border-right: none!important;
}
.events{
    /* padding-top: 10.5rem;*/
}
.events-wrap{
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 6rem;
}
.event-item{
    width: calc(100%/3 - 1.5rem);
    margin-bottom: 4.9rem;
    display: none;
}
.event-item img{
    border-radius: 1rem;
    box-shadow: 7px 14px 27px 0 rgba(0, 0, 0, 0.43);
    margin-bottom: 1.5rem;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.event-item:hover img{
    filter: saturate(200%);
    box-shadow: 7px -4px 27px 0 rgba(0, 0, 0, 0.43);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.event-name{
    color: #323232;
    font-size: 2.1rem;
    font-family: 'Intro Bold';
    text-decoration: underline;
    margin-bottom: 2.6rem;
}
.event-desc{
    font-family: 'Intro Light';
    line-height: 2.4rem;
    color: #323232;
}
.more-events{
    bottom: -5.5rem ;
}
.order{
    background: url(../images/zayavka-bg.jpg) 50% 50% no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    padding-top: 15rem;
    padding-bottom: 18rem;
}
.main__form-2{
    position: relative;
    bottom: unset;
}
.clients{
    padding-bottom: 7.2rem;
    background: url(../images/shepard_bottom.jpg) 100% 100% no-repeat;
}

.client-slider{
    margin-top: 9rem;
}
.client-item{
    flex-wrap: wrap;
    justify-content: flex-start;

}
.client-item img{
    width: calc(100%/6 - 0.8rem)!important;
    margin-bottom: 0.8rem;
    margin-right: 0.8rem;
}
.client-slider .owl-nav {
    margin-top: -12.4rem;
    justify-content: flex-end;
    left: calc(50% + 3.2rem);
    position: absolute;
}
footer  {
    background-color: #1c1c1c;
    padding-top: 7.7rem;
    padding-bottom: 5.5rem;
}
footer .container{
    justify-content:space-between;
}
.copyright{
    font-size: 1.2rem;
    font-family: 'Intro Light';
    line-height: 1.8rem;
    color: #fff;
    margin-top: 2rem;
    white-space: pre-line;
}
.footer-menu li{
    line-height: 3rem;
}
.footer-menu li a{
    color: #fff;
    font-size: 1.6rem;
    font-family: 'Intro Bold';
}
.footer-social{

}
.footer-social img{
    filter:invert(1);
    margin-right: 2.2rem;
}
.footer-phone{
    font-family: 'Intro Book';
    font-size: 2.4rem;
    color: #fff;
}
.footer-call{
    text-align: right;
}
.back-call{
    display: block;
    font-size: 1.5rem;
    color: #ef2203;
    font-family: 'Intro Black';
    text-decoration: unset;
    margin-bottom: 3rem;
    cursor: pointer;
}
.policy{
    color: #fff;
    font-size: 1.2rem;
    font-family: 'Intro Bold';
}
.salut{
    display: block;
    color: #fff;
    font-size: 1.2rem;
    font-family: 'Intro Bold';
    margin-top: .5rem;
}
.salut>span{
    color: #ef2203;
}
.about{
    padding-bottom: 13.5rem;
}
.about-info{
    width: 76.8rem;
    height: 35.7rem;
    border: 1rem solid transparent;
    position: relative;
    z-index: 1;
    margin: 4rem auto 12rem ;
    padding: 13.6rem 19rem 3.8rem 5.5rem;
}
.about-info.scool{
    height: 39.5rem;
}
.about-info:before {
    content: "";
    display: block;
    position: absolute;
    top: 1rem;
    left: 1rem;
    right: 1rem;
    bottom: 1rem;
    z-index: -1;
    background: #fff url(../images/about-bg.jpg) 100% 100% no-repeat;
}
.about-info:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -2;
    transform: rotate(0deg);
    animation: gradient 2s ease alternate infinite;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}
.about-info:hover:after {
    -webkit-animation-play-state: running;
    animation-play-state: running;
}
.about-info:after {
    background: #fff;
    background: -moz-linear-gradient(left, #ff6a00 0%, #ee094f 100%);
    background: -webkit-linear-gradient(left, #ff6a00 0%, #ee094f 100%);
    background: linear-gradient(to right,  #ff6a00 0%, #ee094f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff6a00', endColorstr='#ee094f', GradientType=1);
    background-size: 300% 300%;
}
.about-info h3{
    font-family: 'Intro Bold';
    font-size: 4.8rem;
    color: #000;
    background-color: #fff;
    position: absolute;
    padding: 2rem 0;
    top: 4rem;
    left: -10.4rem;
}
.about-info p{
    font-family: 'Intro Light';
    font-size: 1.8rem;
    color: #000;
    line-height: 2.4rem;
}
.about-ico-wrap{
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 8.9rem;
}
.about-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100%/3 - 1.5rem);
    margin-bottom: 3rem;
    max-height: 34rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    border-radius: 1rem;
    box-shadow: 3px 6px 43px 0 rgba(0, 0, 0, 0.1);
    padding: 4.4rem ;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.about-item:hover{
    box-shadow:none;
}

.about-item h4{
    font-size: 1.8rem;
    font-family: 'Intro Bold';
    text-transform: uppercase;
    color: #000;
    margin-top: 2.5rem;
    margin-bottom: 1.16rem;
}
.about-item p{
    font-size: 1.8rem;
    font-family: 'Intro';
    color: #000;
    line-height: 2.4rem;
}
.about-video{
    margin: 0 auto 7rem;
    background-color: #fff;
    position: relative;
}
.about-video>a{
    display: block;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.about-video a:before{
    position: absolute;
    content: '';
    width: 17rem;
    height: 17rem;
    background: url(../images/play-button.png) 0 0 no-repeat;
    background-size: cover;
    top: calc(50% - 8.5rem);
    left: calc(50% - 8.5rem);
    cursor: pointer;
}
.about-video a:hover:before{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.about-video img{
    display: block;
    margin: 0 auto;
    border-radius: 4rem;
    padding: 0.9rem;
    box-shadow: 2px 4px 35px 0 rgba(0, 0, 0, 0.39);
}
.about-button-wrap{
    justify-content: space-between;
    max-width: 91rem;
    margin: 0 auto;
}
.button-about{
    width: 29.7rem;
    height: 5.4rem;
    border-radius: 2.7rem;
    font-size: 1.5rem;
}
a.ico-button.vk{
    width: 33.7rem;
    height: 5.8rem;
    background: #fff url(../images/vk-ico-button.png) 28px 50% no-repeat;
    padding-left: 7.0rem;
    margin: unset;
}
a.ico-button.otz{
    width: 21.6rem;
    height: 5.8rem;
    background: #fff url(../images/rew-ico-button.png) 28px 50% no-repeat;
    padding-left: 6.0rem;
    margin: unset;
}
.corp-slider{
    padding-bottom: 14rem;
}
.corp-slider-wrap{
    margin-top: 5.5rem;
}
.corp-slider-item img{
    margin-right: 5.7rem;
    min-width: 43.7rem;
    /*   height: 52.2rem;*/
    object-fit: cover;
}
.corp-content {
    padding-top: 8.5rem;
    padding-right: 20rem;
}
.corp-content.scool{
    padding-top: 4.1rem;
    padding-right: 20rem;
}
.corp-content h4{
    font-size: 3.6rem;
    font-family: 'Intro Bold';
    color: #000;
    margin-bottom: 1rem;
}
.corp-content span{
    font-size: 2.4rem;
    font-family: 'Intro Light';
    text-transform: uppercase;
    color: #555;
}
.corp-content p{
    font-size: 1.8rem;
    color: #000;
    line-height: 3rem;
    margin-top: 4rem;
    margin-bottom: 5rem;
}
a.ico-button.more{
    width: 21.6rem;
    height: 5.9rem;
    background: #fff;
    padding-left: 6.0rem;
    margin: unset;
}
.corp-slider-wrap .owl-nav {
    /*margin-top: -1px;*/
    display: flex;
    justify-content: space-between;
    background-color: #000;
    max-width: 43.7rem;
    height: 9rem;
    position: absolute;
    bottom: -4.5rem;
    width: 43.7rem;
}
.corp-slider-wrap .owl-prev,
.corp-slider-wrap .owl-next{
    background-color: transparent!important;
    border: none!important;
    top: 1.7rem;
    color: #fff!important;
}
.corp-slider-wrap .owl-prev:before,
.corp-slider-wrap .owl-next:before{
    border-color: #fff;
    width: 2.3rem;
    height: 2.3rem;
    top: calc(50% - 1.2rem);
}
.corp-slider-wrap .owl-prev:before{
    left: calc(50% + 0.5rem);
}
.corp-slider-wrap .owl-next:before{
    left: calc(50% - 1.8rem);
}
.corp-slider-wrap.owl-carousel .owl-nav button.owl-prev{
    padding-left: 6rem!important;
}
.corp-slider-wrap.owl-carousel .owl-nav button.owl-next{
    padding-right: 8rem!important;
}
.corp-slider-wrap .owl-dots{
    display: flex!important;
    align-items: center;
    justify-content: center;
    width: calc(100% - 17.7rem)!important;
    margin: 0 auto 0 25px;
}
.corp-slider-wrap .owl-dots.disabled{
    display: none!important;
}
.corp-slider-wrap.owl-carousel button.owl-dot{
    height: 1px!important;
    background-color: #5b5a5a!important;
}
.corp-slider-wrap.owl-carousel button.owl-dot.active{
    height: 1px!important;
    background-color: #fff!important;
}
.kp-wrap{
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 11.7rem;
}
.kp-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(25% - 1.2rem);
    max-height: 25.2rem;
    border-radius: 1rem;
    box-shadow: 3px 6px 43px 0 rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 3rem 3rem;
    justify-content: flex-end;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.kp-item h4{
    font-size: 1.8rem;
    text-transform: uppercase;
    font-family: "Intro Bold";
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.kp-item:before, .kp-item:after {
    box-sizing: inherit;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
}

.vozrast{
    color: #fff!important;
    font-family: "Intro Light";
    background-color: #980934;
    padding: 0.5rem 1.7rem;
    font-size: 1.8rem;
    text-transform: unset!important;
    display:inline-block;
    margin-bottom: 1.6rem;
}
.rewievs .about-button-wrap{
    margin-top: 10.6rem;
}
.events.scool{
    padding-bottom: 11rem;
}
.children{
    background-color: #f6f6f6;
    padding-top: 11.6rem;
    padding-bottom: 2.4rem;
}
.list-prop{
    flex-wrap: wrap;
    margin-top: 11.2rem;
    padding-left: 11.75rem;
    align-items: center;
    justify-content: space-between;
}
.list-prop li{
    position: relative;
    font-family: 'Intro Book';
    color: #323232;
    width: calc(100% - 77rem);
    margin-bottom: 7.1rem;
}
.list-prop li:hover:before{
    border: 1.9rem solid #00791a;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.list-prop li:hover:after{
    border-color: #fff;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.list-prop li:before{
    position: absolute;
    content: '';
    width: 3.8rem;
    height: 3.8rem;
    border: 0.3rem solid #00791a;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    left: -8.1rem;
    top: calc(50% - 3.8rem/2);
}
.list-prop li:after{
    position: absolute;
    content: '';
    width: 1.6rem;
    height: 1.6rem;
    border-top: 0.2rem solid #00791a;
    border-right: 0.2rem solid #00791a;
    left: calc(0% - 7.3rem);
    top: calc(50% - 1.6rem/2);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.nashi-meropriyatiya{
    padding-top: 10.2rem;
    padding-bottom: 2.3rem;
}
.meropriyatiya-wrap{
    margin-top: 6rem;
    justify-content: space-between;
    flex-wrap: wrap;
}
.mer-item{
    display: flex;
    flex-direction: column;
    width: calc(25% - 1.2rem);
    text-align: center;
    color: #000;
    font-family: "Intro Bold";
    text-transform: uppercase;
}
.mer-item img{
    border-radius:1rem ;
    box-shadow: 3px 6px 43px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.mer-item p{
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.mer-item:hover img{
    filter:brightness(40%);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.mer-item:hover p{
    transform: translateY(-8rem);
    color: #fff;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.place{
    padding-top: 10.2rem;
    padding-bottom: 9rem;
}
.plase-wrap{
    margin-top: 6.4rem;
    margin-bottom: 8.5rem;
    justify-content: space-between;
    flex-wrap: wrap;
}
.place-item{
    position: relative;
    width: calc(100%/3 - 6.5rem/2);
    color: #fff;
    overflow: hidden;
}
.place-item img{
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.place-item:before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(to top, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.2) 60%);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    z-index: 0;
}

.place-item:hover img{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    filter: brightness(50%);
}
.place-text{
    position: absolute;
    left: 2.3rem;
    top: 20.5rem;
}
.place-item p{
    font-size: 2.5rem;
    font-family: 'Intro Bold';
    text-decoration: underline;
    margin-bottom: 1.8rem;
}
.place-item span{
    font-size: 1.8rem;
    font-family: 'Intro Book';
    line-height: 2.4rem;
}

.faq{
    padding-top: 10.2rem;
    padding-bottom: 7.5rem;
    background-color: #f6f6f6;
}
.sub{
    font-family: 'Intro Book';
    color: #757575;
    font-size: 2.4rem;
}
.faq-wrap{
    max-width: 71.8rem;
    margin: 11.5rem  auto 0;
}
.faq-item{
    cursor: pointer;
    margin-bottom: 2rem;
}
.question{
    display: flex;
    align-items: center;
    position: relative;
    width: 71.8rem;
    height: 7rem;
    border-radius: 3.5rem;
    box-shadow: 2px 4px 24px 0px rgba(0, 0, 0, 0.2);
    font-family: 'Intro Book';
    font-size: 2.4rem   ;
    padding-left: 5.3rem;
    line-height: 2.4rem;
}
.question:before{
    content: '';
    position: absolute;
    width: 2.2rem;
    height: 2.2rem;
    border-right:3px solid #000;
    border-bottom:3px solid #000;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    right: 5rem;
    top: calc(50% - 1.1rem);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.question.down-faq:before{
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    transform: rotate(225deg);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.answer {
    display: none;
    font-family: 'Intro Book';
    font-size: 1.8rem ;
    margin-top: 2.5rem;
    padding-left: 5.2rem;
    padding-right: 10.4rem;
}
.price{
    padding-top: 10.2rem;
    padding-bottom: 12.2rem;
    background: url(../images/shepard_bottom.jpg) 100% 100% no-repeat;
}
.price-box{
    margin: 5rem auto 0;
    width: 95.4rem;
    height: 37.0rem;
    position: relative;
    border-image: linear-gradient(to right,  #ff6a00 0%, #ee094f 100%);
    background-color: #fff;
    padding: 5.5rem 5.1rem 3.8rem 6.5rem;
    font-size: 1.8rem;
    line-height: 2.4rem;
}
.price-box p:first-of-type{
    margin-bottom: 3.5rem;
}
.price-box:before{
    position: absolute;
    content: '';
    width: calc(100% + 2rem);
    height: calc(100% + 2rem);
    background: linear-gradient(to right,  #ff6a00 0%, #ee094f 100%);
    z-index: -1;
    left: -1rem;
    top: -1rem;
}
.about-video-wrap{
    margin-top: 7.6rem;
    justify-content: space-between;
}
.about-video-wrap>*{
    width: calc(50% - 1.3rem);
    position: relative;
}
.about-video-wrap a::before {
    width:12rem;
    height: 12rem;
    top: calc(50% - 6rem);
    left: calc(50% - 6rem) ;
}
.boyard {
    padding-bottom: 9rem;
}
.boyard-wrap{
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 6.2rem;

}
.boyard-item{
    position: relative;
    width: calc(25% - 0.5rem);
    margin-bottom: 1rem;
    overflow: hidden;
}
.boyard-text{
    position: absolute;
    color: #fff;
    top: 12.6rem;
    left: 1.6rem;
    padding-right: 1rem;
}
.boyard-text p{
    font-size: 2.4rem;
    font-family: "Intro Bold";
    text-decoration: underline;
    margin-bottom: 1rem;
    line-height: 2.4rem;
}
.boyard-text span{
    font-size: 1.4rem;
    font-family: "Intro Book";
    line-height: 2rem;
}
.boyard-item img{
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.boyard-item:before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(to top, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.2) 60%);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    z-index: 0;
}

.boyard-item:hover img{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    filter: brightness(50%);
}
.nashi-meropriyatiya.fort{
    padding-top: 0;
}
.price.fort {
    padding-top: 2.3rem;
    padding-bottom: 12.2rem;
    background:none;
}
.fort .price-box {
    width: 76.8rem;
    height: 26.1rem;
}
.fort .price-box p{
    padding: 0 8rem;
}
.fort .price-box h3{
    text-align: center;
    font-size: 4.8rem;
    font-family: 'Intro Bold';
    color: #000;
    margin-bottom: 2.1rem;
}
.fort-place{
    padding-bottom: 10rem;
}
.fort-place-wrap{
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 6.7rem;
}
.fort-place-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100%/3 - 1.5rem);
    max-height: 33.9rem;
    height: 33.9rem;
    border-radius: 1rem;
    box-shadow: 3px 6px 43px 0 rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 5.7rem 3rem 3rem;
    justify-content: flex-start;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.fort-place-item h4{
    font-size: 1.8rem;
    text-transform: uppercase;
    font-family: "Intro Bold";
    margin-top: 3.3rem;
    margin-bottom: 2.3rem;
}
.fort-place-item:before,
.fort-place-item:after {
    box-sizing: inherit;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
}
.draw {
    transition: color 0.25s;
}
.draw::before, .draw::after {
    border: 2px solid transparent;
    width: 0;
    height: 0;
}
.draw::before {
    top: 0;
    left: 0;
}
.draw::after {
    bottom: 0;
    right: 0;
}
.draw:hover {
    /* color: #f42b33;*/
    box-shadow: none;
}
.draw:hover::before, .draw:hover::after {
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.draw:hover::before {
    border-top-color: #ff6a00;
    border-right-color: #ff6a00;
    transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}
.draw:hover::after {
    border-bottom-color: #ff6a00;
    border-left-color: #ff6a00;
    transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
}
.events.fort{
    padding-bottom: 20rem;
}
.rewievs.fort{
    padding-bottom: 0;
}
.about-video.splav {
    margin: 12rem auto 0;
    position: absolute;
    width: 100%;
}
.subheader.splav{
    margin-top: 23rem;
}
.inner.splav [class^="main__form-"] {
    bottom: -11.06rem;
}
.komfort{
    padding-top: 25.5rem;
    background-color: #f6f6f6;
}
.komfort .list-prop{
    padding-left: 7rem;
    align-items: flex-start;
}
.list-prop li b{
    display: block;
    font-family: 'Intro Bold';
    font-size: 2.4rem;
    margin-bottom: 0.3rem;
}
.list-prop li{
    padding-right: 5.5rem;
}
.komfort .list-prop li::before {
    left: -7rem;
    top: 0;
}
.komfort .list-prop li::after {
    left: calc(0% - 6.3rem);
    top: 1.1rem;
}
.place.splav {
    padding-bottom: 3.4rem;
}
.price.splav {
    padding-bottom: 23.4rem;
}
.splav-button-wrap{
    padding-top: 8.1rem;
    padding-bottom: 5.8rem;
    justify-content: center;
}
.splav .place-text {
    top: 13.5rem;
}
.splav .place-item span {
    font-size: 1.6rem;
    line-height: 1.8rem;
}
.price-box.splav{
    height: 54.7rem;
}
.price-box.splav p{
    margin-bottom: 3.3rem;
    line-height: 2.3rem;
}
.mobile-menu{
    display: none;
}
/*********************** MOBILE ***************************/

@media only screen and (max-width: 767px) {

    html {
        font-size: 42%;
    }
    .container {
        max-width:100%;
        padding: 0 15px;
    }
    .mobile-none{
        display: none!important;
    }
    .header__logo{
        max-width: 50%;
    }
    .header__logo img{
        display: block;
        max-width: 100%;
    }
    .header__phone span {
        font-size: 2.5rem;
        margin-top: 2rem;
    }
    h2:before {
        width: 23.5rem;
        height: 2.6rem;
        top: -2.3rem;
        left: .3rem;
    }
    header{
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        height: 90px;
        z-index: 10;
        background-color: #fff;
        box-shadow: 1px 0 4px 2px #999;
    }
    body section:first-of-type{
        margin-top: 90px;
    }
    .down {
        margin: 4.2rem auto 26px;
    }
    .mobile-menu{
        display: block;
        width: 100%;
        height: 100%;
    }
    .mob-button{
        position:fixed;
        border: none;
        width: 50px;
        height: 50px;
        box-shadow: 3px 3px 7px 0 rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        top: 15px;
        right:25px;
        background-color: #f6f6f6;
        z-index: 11;
        cursor: pointer;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }
    .mob-button:before{
        position: absolute;
        top:10px;
        left: 12px;
        content: '\f0c9';
        font-family: 'FontAwesome';
        font-size: 30px;
        color: #666;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }
    .mob-button.down-menu:before{
        content: '\f00d';
        /*  color: #ee094f;*/
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }

    .mob-button:hover:before{
        /* color: #ee094f;*/
    }
    .mobile-menu nav ul{
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: left;
        margin: 100px 0 25px 20px;
        font-size: 25px;
    }
    .mobile-menu nav ul li{
        margin-bottom: 20px;
        position: relative;
    }
    .mobile-menu nav ul li a{
        position: relative;
    }
    .mobile-menu nav ul li a:before{
        position: absolute;
        content: '';
        width: 0;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #ee094f;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }
    .mobile-menu nav ul li a:hover:before{
        width: 100%;
        transition: all 0.3s;
    }
    .mobile-menu nav ul a:hover{
        text-decoration: none;
    }
    .mobile-menu nav{
        position: fixed;
        display: none;
        width: 100%;
        height: 100%;
        top: 90px;
        background-color: rgba(0, 58, 17, 0.95);
        color: #fff;
        z-index: 9;

    }
    [class^="main__form-"] form h3 {
        font-size: 3.0rem;
    }
    [class^="main__form-"] {
        width: 100%;
        left: unset;
        height: auto;
    }
    .inputs{
        flex-direction: column;
        margin-top: 10px;
        padding: 0 0 20px 0;
    }
    [class^="main__form-"] form{
        padding: 15px;
    }
    [class^="main__form-"] form input {
        width: 100%;
        height: 5.5rem;
        padding-bottom: 0;
        background-color: transparent;
    }
    .input-group label {
        top: 14px;
        font-size: 1.6rem;
    }
    [class^="main__form-"] form input:active + label,
    [class^="main__form-"] form input:focus + label,
    label.filled {
        transform: translateY(-14px);
        font-size: 1.2rem;
    }
    .program-item{
        width: 100%;
    }
    .buttons-wrap{
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: stretch;
    }
    a.ico-button{
        font-size: 1.8rem;
        padding-left: 7rem;
        border: 0 solid transparent;
    }
    a.ico-button:nth-child(1) {
        background: #fff url(../images/corp-ico.png) 10px 50% no-repeat;
        background-size: 12%;
        margin: 0 0 2rem 0;
    }
    a.ico-button:nth-child(2) {
        background: #fff url(../images/corp-ico-1.png) 15px 50% no-repeat;
        background-size: 15%;
        margin: 0;
        width: 20rem;
    }
    a.ico-button:nth-child(3) {
        background: #fff url(../images/corp-ico-2.png) 15px 50% no-repeat;
        background-size: 15%;
        width: 20rem;
    }
    .mobile-menu .header__social {
        justify-content: center;
    }
    .mobile-menu .header__social img{
        filter:brightness(80);
    }
    .program-item a {
        font-size: 2.4rem;
    }
    .main-slider:before{
        content: none;
    }
    .rew-text {
        max-width: calc(100% - 30px);
        max-height: 100%;
        box-shadow: 7px 14px 10px 0 rgba(0,0,0,.23);
    }
    .rev-item img {
        max-width: 15.8rem;
        position: absolute;
        top: 7rem;
        left: 0.7rem;
    }
    .event-item {
        width: 100%;
    }
    .event-item img{
        width: 100%;
        display: block;
    }
    .event-name {
        font-size: 2.5rem;
    }
    .event-desc {
        font-size: 2rem;
    }
    .events-wrap{
        padding-bottom: 5rem;
    }
    .more-events {
        bottom: 0;
    }
    .order {
        padding-top: 8rem;
    }
    .client-item{
        justify-content: space-between;
    }
    .client-item img {
        width: calc(100%/2 - 1rem) !important;
        margin-bottom: .8rem;
        margin-right: .8rem;
        height: auto;
        object-fit: contain;
    }
    footer .container {
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    footer .container>*{
        width: 100%;
    }
    .footer-logo img {
        margin: 0 auto;
        display: block;
    }
    .footer-logo,
    .footer-call{
        text-align: center;
    }
    .copyright {
        font-size: 1.8rem;
        line-height: 2rem;
        white-space: unset;
        margin-bottom: 2.5rem;
    }
    .policy {
        color: #fff;
        font-size: 1.8rem;
        font-family: 'Intro Bold';
    }
    .salut {
        display: block;
        color: #fff;
        font-size: 1.8rem;
        font-family: 'Intro Bold';
        margin-top: 2.5rem;
    }
    .rew-name {
        padding-left: 16rem;
        line-height: 2.5rem;
        margin-bottom: .5rem;
    }
    .rew-place {
        padding-left: 16rem;
    }
    .rew-text{
        padding: 7rem 2rem 2rem 2rem;
    }
    .main {
        background: url(../images/main-bg.jpg) 50% 69% no-repeat;
        background-size: contain;
    }
    .header__phone {
        text-align: center;
        margin-bottom: 2rem;
    }
    .header__phone a {
        color: #fff;
        font-size: 3.4rem;
    }
    .button-main-form{
        font-size: 2.1rem;
    }
    .program-item img {
        display: block;
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    .slider-text {
        top: 46rem;

    }
    .main.inner{
        background-size: cover!important;
        padding-top: 2.2rem!important;
        background-position-x: 50%!important;
        background-position-y: -9rem!important;
    }
    .about-info {
        width: 100%;
        padding: 15px 23px;
        height: 45.7rem;
        margin: 4rem auto 9rem;
    }
    .about-info p {
        font-size: 2rem;
    }
    .about-info h3 {
        font-size: 3.8rem;
        color: #000;
        background-color: transparent;
        position: relative;
        padding: 2rem 0;
        top: unset;
        left:unset;
        text-align: center;
    }
    .about-info:before {
        background-size: 25%;
    }
    .about-item,
    .about-video img{
        width: 100%;
    }
    .about-button-wrap,
    .splav-button-wrap{
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .splav-button-wrap{
        padding: 0 15px;
    }
    .about-button-wrap a,
    .splav-button-wrap a{
        background: #fff!important;
        padding: 0!important;
        justify-content: center;
        width: 100%!important;
        margin-top: 2rem!important;
    }

    .button-about{
        font-size: 1.8rem;
        flex-grow: 1;
        order: 1;
        margin-top: 2rem;
    }
    .slider-text{
        display: none;
    }
    .corp-slider-item{
        flex-wrap: wrap;
        padding-top: 60px;
    }
    .corp-slider-item img {
        margin-right: 0;
    }
    .corp-content {
        padding-top: 3.5rem!important;
        padding-right: 0!important;
    }
    .corp-content p {
        font-size: 2rem!important;
        color: #000;
        line-height: 3rem;
        margin-top: 2rem!important;
        margin-bottom: 3rem!important;
    }
    .corp-slider-wrap .owl-nav {
        bottom: unset;
        min-width: 100%;
        top: -38px;
    }
    .about-info.scool {
        height: 57.5rem;
    }
    .kp-item{
        width: 100%;
        margin-bottom: 1rem;
    }
    .list-prop li{
        width: 100%;
        margin-bottom: 6.1rem;
    }
    .mer-item{
        width: 100%;
        margin-bottom: 4.1rem;
    }
    .mer-item img{
        display: block;
        width: 100%;
        object-fit: cover;
    }
    .mer-item p{
        font-size: 2.5rem;
    }
    .place-item{
        width: 100%;
        margin-bottom: 2.1rem;
    }
    .place-item p {
        font-size: 3.5rem;
    }
    .place-item span {
        font-size: 2.8rem;
    }
    .faq-wrap {
        max-width: 100%;
        margin: 5.5rem auto 0;
    }
    .question {
        width: 100%;
        height: 8rem;
        padding-right: 6rem;
        padding-left: 3.3rem;
    }
    .question:before {
        right: 3rem;
    }
    .answer {
        font-size: 2rem;
    }
    .price-box {
        margin: 5rem auto 278px;
        width: 100%!important;
        height: auto!important;
        padding: 15px!important;
        font-size: 2rem!important;
    }
    .fort .price-box p {
        padding: 15px;
    }
    .fort .price-box {
        margin-bottom:0;
    }
    .about-video-wrap{
        flex-wrap: wrap;
    }
    .about-video-wrap>*{
        width: 100%;
        margin-bottom: 1rem;
    }
    .boyard-item{
        width: 100%;
    }
    .boyard-item img{
        width: 100%;
        height: auto;
        display: block;
        object-fit: cover;
    }
    .boyard-text p {
        font-size: 3.8rem;
        line-height: 4rem;
        margin-bottom: 5rem;
    }
    .boyard-text span {
        font-size: 2.5rem;
        font-family: "Intro Book";
        line-height: 3rem;
    }
    .fort-place-item{
        width: 100%;
        margin-bottom: 2rem;
    }
    .splav .place-item span {
        font-size: 2.4rem;
        line-height: 2.5rem;
    }
}
